.div-form-cadastro {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .div-form-cadastro-title {
    text-align: center;
  }
  
  .form-cadastro {
    width: 25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
      rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    padding: 2rem;
    border-radius: 8px;
  }
  
  .mb-3 {
    margin-bottom: 1rem;
  }
  
  .mb-3 label {
    font-size: 1rem;
    color: #333;
    display: block;
    margin-bottom: 0.5rem;
  }
  
  .mb-3 input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    outline: none;
    font-size: 1rem;
  }
  
  .mb-3 input:focus {
    border-color: #007bff;
    box-shadow: 0px 0px 5px rgba(0, 123, 255, 0.5);
  }
  
  .div-botao-cadastro {
    text-align: center;
  }
  
  .div-botao-cadastro button {
    width: 100%;
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 6px;
    font-size: 1rem;
    cursor: pointer;
  }
  
  .div-botao-cadastro button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  