.carousel-container {
    width: 100%;
    height: 20rem;
    position: relative;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.carousel-images {
    display: flex;
    transition: transform 0.8s ease-in-out;
    height: 100%;
}

.carousel-images img {
    min-width: 100%;
    height: 100%;
    object-fit: cover;
}


.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 15px;
    cursor: pointer;
    border-radius: 50%;
    font-size: 20px;
    transition: background-color 0.3s;
    z-index: 1000;
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

.prev {
    left: 15px;
}

.next {
    right: 15px;
}

.carousel-indicators {
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
    
}

.carousel-indicators button {
    display: none;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: none;
    background-color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    transition: background-color 0.3s;
}

.carousel-indicators button.active {
    background-color: rgba(255, 255, 255, 1);

}

.carousel-indicators button:hover {
    background-color: rgba(255, 255, 255, 0.8);
}

@media (max-width: 768px) {
    .prev, .next {
        padding: 10px;
        font-size: 16px;
    }

    .carousel-indicators button {
        width: 10px;
        height: 10px;
    }
}
